{% extends 'general/base.html' %}
<h1>My rooms</h1>
{% block body %}
{%if rooms %}
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Room name</th>
        <th scope="col">Status</th>
        <th scope="col">Password</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for room in rooms %}
    <tr>
        <th scope="row">{{ room.name }}</th>
        <td>{{ room.status }}</td>
        {% if room.password %}
        <td>Hidden</td>
        {% else %}
        <td>Open</td>
        {% endif %}
        <td>
            <a href="{% url 'rooms:RoomDetail' pk=room.pk %}"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Check
            </button></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{%else%}
<h4>You have no rooms yet. You can join to <a href="{% url 'rooms:AllRooms' %}">someone's room</a> or create your own room</h4>{% endif %}

{% endblock %}

