{% extends 'general/base.html' %}
{% block body %}
<div class="row">
    <div class="col-md-3">
        <h4>List of recipients:</h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for player in players %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{player.username}}</td>
                <td>Leave</td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
        {% if request.user in players %}
        <form action="" method="post" class="d-inline">
            {% csrf_token %}
c            <button type="submit" class="btn btn-danger">Leave Room</button>
        </form>

        {% else %}
        <form action="" method="post" class="d-inline">
            {% csrf_token %}
            <input type="hidden" name="action" value="take_participation">
            <button type="submit" class="btn btn-primary mr-2">Join Room</button>
        </form>
        {% endif %}
        <form action="" method="post" class="d-inline">
            {{ form_inv}}
            {% csrf_token %} <input type="hidden" name="action" value="send_invitation">
            <button type="submit" class="btn btn-primary mr-2">Send invite</button>
        </form>


    </div>
    <div class="col-14 col-md-8">
        <div class="card">
            <div class="card-header">Chat</div>
            <div class="card-body">
                {% for message in messages %}
                <div class="chat-messages overflow-auto">
                    <div class="message sender">
                        <div class="message-meta">
                            <span class="message-name">{{message.user}}</span>
                            <span class="message-time">{{message.date}}</span>
                        </div>
                        <div class="message-text">{{message.text}}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <div class="input-group">
                    <form action="" method="post" class="d-flex">
                        <button class="btn btn-primary" type="submit">Send</button>

                        {{ form.text }}
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if request.user == room.owner %}
    <div class="col-md-3">
        <h4>Admin actions:</h4>
        <form action="" method="post" class="d-flex">
            <input type="hidden" name="action" value="start_game">
            <button class="btn btn-success" type="submit">Start game</button>
            {% csrf_token %}
        </form>

    </div>
    {% endif %}
</div>
{% endblock %}

