{% extends 'general/base.html' %}
{%block body %}
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active bg-light border rounded p-2" data-toggle="tab" href="#general-info">General
                        Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-light border rounded p-2" data-toggle="tab" href="#add-wish">Add Wish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-light border rounded p-2" data-toggle="tab" href="#edit-wishes">Edit/Delete
                        Wishes</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="general-info">
                    <h2>General Settings</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{form}}
                        <br>
                        <button type="submit" name="general_info" class="btn btn-primary">Save Changes</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="add-wish">
                    <h2>My Wishes</h2>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{user.id}}">
                        {{wish_form}}
                        <br>
                        <button type="submit" name="creating_wish" class="btn btn-primary">Save wish</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="edit-wishes">
                    <h2>Edit/Delete Wishes</h2>
                    <div class="container mt-5">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Gift Name</th>
                                <th>Gift URL</th>
                                <th>Gift Comment</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for wish in my_wishes %}
                            <tr>
                                <td>Gift #{{forloop.counter}}</td>
                                <td><a href="{{wish.url}}">Link</a></td>
                                <td>{% if wish.comment %}
                                    {{wish.comment}}
                                    {% else %}
                                    No any specification
                                    {%endif%}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                    <button type="button" class="btn btn-primary">Update</button>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}